@charset "utf-8";
html {
    scroll-behavior: smooth;
}

body {
    width: auto;
    margin: 0;
    font-family: 'Calibri', Arial,sans-serif;
    color: #333333;
}



/* フッター */
footer {
    width: 100%;
    background-color: #333333;
    padding: 36.5px 0;
    bottom: 0; 
}

footer img {
    display: block;
    margin: 0 auto;
}