@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    width: auto;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    color: #333333;
}



/* フッター */
footer {
    width: 100%;
    background-color: #333333;
    padding: 36.5px 0;
    bottom: 0; 
}

footer img {
    display: block;
    margin: 0 auto;
}