@charset "utf-8";

body {
    font-family: 'Calibri', Arial,sans-serif;
    color: #333333;
}
#main {
    max-width: 1980px;
    margin: 0 auto;
}

/* Vegas2(?)を使って背景画像スライドショーの設定 */

.Vegas {
    position: relative;
    width: 100%;
    height: 100vh;
}
.Vegas-Inner {
    position: absolute;
    width: auto;
    margin: 0 1px;
    top: 50%;
    left: 8%;
    transform: translate(3%, -36%);
  }
  .Vegas-Inner-Item {
    color: #fff;
    font-size: 150%;
  }
/* 右固定のナビゲーション */

#header nav {
    position: fixed;
    top: 3%;
    right: 2%;
    color: #fff;
    font-size: 120%;
    font-weight: 500;
    z-index: 4;
}

#header nav ul {
    list-style-type: none;
    text-align: left;
}

#header nav li {
    padding: 10px;
    margin: 10px;
    transition: all 0.5s;
}

#header ul a {
    text-decoration: none;
    color: #fff;
}
#header ul a.change-color {
    color: #333333;
  }

#header li:hover {
    transform: translate(10px,0);
}
/*スクロールダウン全体の場所*/
.scrolldown{
	position:absolute;
    z-index: 10000;
    bottom: 0;
    left: 50%;

    /*矢印の動き1秒かけて永遠にループ*/
	animation: arrowmove 1s ease-in-out infinite;
}

/*下から下→上→下*/
@keyframes arrowmove{
      0%{bottom:1%;}
      50%{bottom:3%;}
     100%{bottom:1%;}
 }

/*Scrollテキスト*/
.scrolldown span{
    position: absolute;
    left: 0.6vw;
    bottom: 1vw;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.09em;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印 */
.scrolldown:before {
    content: "";
    position: absolute;
    bottom: 1vw;
    right: 8.53px;
    width: 0.1rem;
    height: 1.2rem;
    background: #fff;
    transform: skewX(-136deg);
}


.scrolldown:after{
    content: "";
    position: absolute;
    bottom: 1vw;
    right: 0;
    width: 0.02rem;
    height: 4rem;
    background: #eee;
}
  
/* ファーストビュー以下 */

article {
    z-index: 2;
    width: auto;
    height: 100000px;
}