@charset "utf-8";


html {
    font-size: 75%;
    
}

body {
    color: #333333;
}


#main {
    max-width: 1980px;
    margin: 0 auto;
}

/* Vegas2(?)を使って背景画像スライドショーの設定 */

.Vegas {
    position: relative;
    width: 100%;
    height: 100vh;
}

.Vegas-Inner {
    position: absolute;
    width: auto;
    margin: 0 1px;
    top: 55%;
    left: 2%;
    transform: translate(3%, -36%);
}

.Vegas-Inner-Item {
    color: #fff;
    font-size: 2rem;
    text-shadow: 1.5px 1px 6px #333;
}

#sptitle {
    display: none;
}

/* ヘッダー全体　上に固定 */

#header {
    position: fixed;
    top: 3%;
    margin: 0 auto;
    width: 100%;
    z-index: 99999;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

/* 左固定のロゴ */

.ScrollTop {
    float: left;
    top: 3%;
    width: 50px;
    z-index: 4;
    opacity: 0;
    padding: 10px;
    margin: 10px;
}

.ScrollTop.isActive {
    z-index: 4;
    opacity: 1;
    transition: all 0.65s;
}

/* 右固定のナビゲーション */

#header nav {
    float: right;
    top: 3%;
    right: 2%;
    color: #fff;
    font-size: 1.4rem;
    z-index: 4;
}

#header nav ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
}

#header nav li {
    padding: 10px;
    margin: 10px;
    transition: all 0.5s;
}

#header ul a {
    text-decoration: none;
    color: #fff;
}

#header ul a.change-color {
    color: #333;
    transition: all 0.65s;
}

#header li:hover {
    transform: translate(10px, 0);
    color: #efba24;
}

/*スクロールダウン全体の場所*/
.scrolldown {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    left: 52%;

    /*矢印の動き1秒かけて永遠にループ*/
    animation: arrowmove 1s ease-in-out infinite;
}

/*下から下→上→下*/
@keyframes arrowmove {
    0% {
        bottom: 1%;
    }

    50% {
        bottom: 3%;
    }

    100% {
        bottom: 1%;
    }
}

/*Scrollテキスト*/
.scrolldown span {
    position: absolute;
    left: 0.6vw;
    bottom: 1vw;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.09em;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印 */
.scrolldown:before {
    content: "";
    position: absolute;
    bottom: 1vw;
    right: 8.53px;
    width: 0.1rem;
    height: 1.2rem;
    background: #fff;
    transform: skewX(-136deg);
}


.scrolldown:after {
    content: "";
    position: absolute;
    bottom: 1vw;
    right: 0;
    width: 0.02rem;
    height: 4rem;
    background: #eee;
}

/* ファーストビュー以下 */

article {
    z-index: 2;
    width: auto;
}

#concept {
    width: auto;
    max-width: 1280px;
    margin: 170px auto 170px auto;
    text-align: center;
    padding: 0 103px;
}

/* コンセプトとかのサブタイトルまとめた設定 */
#subtitle h2 {
    display: inline-block;
    font-size: 2.8rem;
    margin: 0;
    padding: 5px;
    border-bottom: 3px solid #333;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

/* コンセプトのテキスト設定 */

#text {
    font-family: '游ゴシック';
    font-size: 1.3rem;
    font-weight: bold;
}

#concept-text p:nth-child(3) {
    padding-bottom: 7px;
}

#concept-text {
    opacity: 0;
    margin-top: 50px;
    transition: 1s;
    transform: translateY(50px);

}

#concept p {
    margin: 7px;
}

/* コンセプトを下から上に表示するためのプラスisUp */
#concept-text.isUp {
    opacity: 2;
    transform: translateY(0);
}

/* メニュー */

#menu {
    width: 100%;
    max-width: 1980px;
    margin: 0 auto;
    text-align: center;
}

#menu p {
    margin: 4px 0;
}

.menubox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.menubox:not(:last-child) {
    margin-bottom: 80px;
    flex-direction: row-reverse;
}

.menubox:nth-child(even) {
    text-align: center;
}

.menubox:nth-child(odd) {
    text-align: center;
}

#menuimg {
    width: 40%;
    min-width: 259px;
    align-items: center;
}

#menu figure img {
    width: 95%;
    height: auto;
    max-width: 410px;
    object-fit: cover;

}

.menu-textbox {
    width: 40%;
    text-align: center;
    font-family: '游ゴシック';
    font-size: 1.1rem;
    font-weight: bold;
}
#text1 {
    opacity: 0;
    transition: 1s;
    transform: translateY(50px);
}

#text2 {
    opacity: 0;
    transition: 1s;
    transform: translateY(50px);
}
#text1.isUp {
    opacity: 2;
    transform: translateY(0);
    width: 40%;
}

#text2.isUp {
    opacity: 2;
    transform: translateY(0);
    width: 40%;
}


#smallTitle {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 0% 0 10px 0;
    display: inline-block;
}


#smallTitle.tl-title {
    display: none;
}

#smallTitle.tl-title {
    display: none;
}

#menu figure {
    margin: 0;
    display: inline;

}

figcaption {
    font-family: '游ゴシック';
    font-size: 1rem;
    font-weight: bold;
}

button {
    margin: 7% 0px 3% 0;
}

.custom-btn {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    padding: 5px 53px;
    color: #fff;
    letter-spacing: 1px;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.moreBtn {
    background-color: #efba24;
    border: none;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
}

.moreBtn:before,
.moreBtn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #333;
    transition: all 0.3s ease;
}

.moreBtn:before {
    height: 0%;
    width: 2px;
}

.moreBtn:after {
    width: 0%;
    height: 2px;
}

.moreBtn:hover:before {
    height: 100%;
}

.moreBtn:hover:after {
    width: 100%;
}

/* スケジュール */
.scheduleText {
    margin: 0 auto;
    width: auto;

}

/* アクセス */

#access {
    width: auto;
    color: #fff;
    max-width: 1290px;
    margin: 170px auto 170px auto;
    padding: 0 103px;
    text-align: center;
    background: linear-gradient(to right, #fff 0%, #fff 14%, #333 14%, #333 86%, #fff 86%, #fff 100%);
    padding-bottom: 80px;
}

#access-title {
    display: inline-block;
    border-bottom: 3px solid #fff!important;
    padding-top: 50px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

#access-textbox {
    padding-top: 30px;
}

#accesstext {
    display: inline-block;
    text-align: left;
    font-family: '游ゴシック';
    font-size: 100%;
    font-weight: bold;
    margin: inherit;
    opacity: 0;
    transition: 1s;
    transform: translateY(50px);
    width: 36%;
    padding-left: 30px;
    vertical-align: top;
}

#asCaption {
    display: inline-block;
    margin: 1.5px 0;
    font-size: large;
    border-bottom: 1px solid #fff;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

iframe {
    display: inline-block;
    width: 40%;

}

#asSub {
    display: inline-block;
    margin: 1.5px 20px;
    width: 100%;
}

#accesstext.isUp {
    display: inline-block;
    opacity: 2;
    transform: translateY(0);
}

#accesstext span {
    color: #efba24;
}
/* スケジュール */

#schedule {
    width: auto;
    max-width: 1280px;
    margin: 170px auto 170px auto;
    text-align: center;
}

#schedule img {
    width: 100%;
    max-width: 620px;
    min-width: 270px;
}

#scheduleText {
    margin: 50px;
    text-align: center;
}

#schedule-comment {
    text-align: center;
    margin: 0;
}



/* レスポンシブ */

html {
    font-size: 87.5%;
}

/* タブレット */

@media screen and (max-width:780px) {
    html {
        font-size: 72%;
    }

    #header {
        display: none;
    }

    #concept {
        padding: 0;
    }

    #accesstext {
        text-align: left;
        font-family: '游ゴシック';
        font-size: 100%;
        font-weight: bold;
        opacity: 0;
        transition: 1s;
        transform: translateY(50px);
        width: 67%;
    }

    iframe {
        display: inline-block;
        width: 70%;
    }

    #access #menu-textbox1 {
        padding-top: 30px;
        text-align: center;
        margin: 0 auto;
    }

    iframe {
        display: inline-block;
        width: 90%;
    }

    #accesstext {
        /* text-align: left; */
        font-family: '游ゴシック';
        font-size: 100%;
        font-weight: bold;
        margin: 5%;
        opacity: 0;
        transition: 1s;
        transform: translateY(50px);
        padding-left: 0;
    }

    #asSub {
        display: initial;
        margin: 1.5px 20px;
        width: 100%;
    }

    #asCaption {
        display: block;
        margin: 1.5px 0;
        font-size: large;
        border-bottom: none;
    }

    #accesstext.isUp {
        padding: none;
        padding-left: 0;
        display: inline-block;
        opacity: 2;
        transform: translateY(0);
        width: 100%;
    }
}

/* スマホ */
@media screen and (max-width:520px) {

    

    html {
        font-size: 72%;
        
    }

    #pctitle {
        display: none;
    }

    #sptitle {
        display: block;
    }

    .Vegas-Inner-Item {
        text-align: center;
        margin: 0 auto;
        text-shadow: 1.5px 1px 6px #333;
    }

    .Vegas-Inner {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        transform: translate(3%, -36%);
    }

    #header nav {
        display: none;
    }

    .ScrollTop {
        display: none;
    }


    #smallTitle.tl-title {
        display: block;
        margin-top: 80px;
    }

    #smallTitle {
        display: none;
    }

    .menubox {
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .menubox:not(:last-child) {
        margin-bottom: 80px;
        flex-direction: column-reverse;
    }


    .menu-textbox {
        padding-top: 30px;
    }

    #text1 {
        opacity: 0;
        transition: 1s;
        transform: translateY(50px);
    }
    
    #text2 {
        opacity: 0;
        transition: 1s;
        transform: translateY(50px);
    }
    
    #text1.isUp {
        opacity: 2;
        transform: translateY(0);
        width: 100%;
    }

    #text2.isUp {
        opacity: 2;
        transform: translateY(0);
        width: 100%;
    }
    #access {
        width: auto;
        color: #fff;
        max-width: 1980px;
        padding: 0;
        text-align: center;
        background: #333;
        padding-bottom: 80px;
        margin: 0 auto;
        margin: 170px auto 170px auto;
    }
}