@charset "utf-8";

body {
    font-family: Calibri, Arial, sans-serif;
    color: #333333;
}

#main {
    max-width: 1980px;
    margin: 0 auto;
}

/* Vegas2(?)を使って背景画像スライドショーの設定 */

.Vegas {
    position: relative;
    width: 100%;
    height: 100vh;
}

.Vegas-Inner {
    position: absolute;
    width: auto;
    margin: 0 1px;
    top: 50%;
    left: 8%;
    transform: translate(3%, -36%);
}

.Vegas-Inner-Item {
    color: #fff;
    font-size: 150%;
}

#sptitle {
    display: none;
}

/* 左固定のロゴ */

.ScrollTop {
    position: fixed;
    top: 3%;
    left: 2%;
    width: 93px;
    z-index: 4;
    opacity: 0;
    padding: 10px;
    margin: 10px;
}

.ScrollTop.isActive {
    z-index: 4;
    opacity: 1;
    transition: all 0.65s;
}

/* 右固定のナビゲーション */

#header nav {
    position: fixed;
    top: 3%;
    right: 2%;
    color: #fff;
    font-size: 120%;
    font-weight: bold;
    z-index: 4;
}

#header nav ul {
    list-style-type: none;
    text-align: left;
}

#header nav li {
    padding: 10px;
    margin: 10px;
    transition: all 0.5s;
}

#header ul a {
    text-decoration: none;
    color: #fff;
}

#header ul a.change-color {
    color: #333;
}

#header li:hover {
    transform: translate(10px, 0);
}

/*スクロールダウン全体の場所*/
.scrolldown {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    left: 50%;

    /*矢印の動き1秒かけて永遠にループ*/
    animation: arrowmove 1s ease-in-out infinite;
}

/*下から下→上→下*/
@keyframes arrowmove {
    0% {
        bottom: 1%;
    }

    50% {
        bottom: 3%;
    }

    100% {
        bottom: 1%;
    }
}

/*Scrollテキスト*/
.scrolldown span {
    position: absolute;
    left: 0.6vw;
    bottom: 1vw;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.09em;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印 */
.scrolldown:before {
    content: "";
    position: absolute;
    bottom: 1vw;
    right: 8.53px;
    width: 0.1rem;
    height: 1.2rem;
    background: #fff;
    transform: skewX(-136deg);
}


.scrolldown:after {
    content: "";
    position: absolute;
    bottom: 1vw;
    right: 0;
    width: 0.02rem;
    height: 4rem;
    background: #eee;
}

/* ファーストビュー以下 */

article {
    z-index: 2;
    width: auto;
}

#concept {
    width: auto;
    max-width: 1280px;
    margin: 170px auto 170px auto;
    text-align: center;
}

/* コンセプトとかのサブタイトルまとめた設定 */
.subtitle h2 {
    display: inline-block;
    font-size: 250%;
    margin: 0;
    padding: 5px;
    border-bottom: 3px solid #333;
    font-weight: bold;
}

/* コンセプトのテキスト設定 */

#text {
    font-family: '游ゴシック';
    font-size: 120%;
    font-weight: bold;
}

#concept-text p:nth-child(3) {
    padding-bottom: 5px;
}

#concept-text {
    opacity: 0;
    margin-top: 50px;
    transition: 1s;
    transform: translateY(50px);

}

/* コンセプトを下から上に表示するためのプラスisUp */
#concept-text.isUp {
    opacity: 2;
    transform: translateY(0);
}

/* メニュー */

#menu {
    width: auto;
    max-width: 1280px;
    margin: 170px auto 170px auto;
    text-align: center;
}

#menu-text1 {
    margin: inherit;
    opacity: 0;
    transition: 1s;
    transform: translateY(50px);
}

#menu-text1.isUp {
    opacity: 2;
    transform: translateY(0);
}

#menu-text2 {
    margin: inherit;
    opacity: 0;
    transition: 1s;
    transform: translateY(50px);
}

#menu-text2.isUp {
    opacity: 2;
    transform: translateY(0);
}
#menu-comment1 {
    font-family: '游ゴシック';
    font-size: 100%;
    font-weight: bold;
}

#menu-comment2 {
    font-family: '游ゴシック';
    font-size: 100%;
    font-weight: bold;
}

#smallTitle1 {
    font-size: 160%;
}
#smallTitle2 {
    font-size: 160%;
}
#coffee-menu {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sandwich-menu {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#coffee-img {
    text-align: left;
}
#sandwich-img {
    text-align: right;
}
figure {
    font-family: '游ゴシック';
    font-weight: bold;
    font-size: 80%;
}

button {
    margin: 20px;
}

.custom-btn {
    padding: 5px 53px;
    color: #fff;
    letter-spacing: 1px;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.moreBtn {
    background-color: #efba24;
    border: none;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
}

.moreBtn:before,
.moreBtn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #333;
    transition: all 0.3s ease;
}

.moreBtn:before {
    height: 0%;
    width: 2px;
}

.moreBtn:after {
    width: 0%;
    height: 2px;
}

.moreBtn:hover:before {
    height: 100%;
}

.moreBtn:hover:after {
    width: 100%;
}

/* レスポンシブ */

/* スマホ */
@media screen and (max-width:480px) {
    #pctitle {
        display: none;
    }

    #sptitle {
        display: block;
    }

    .Vegas-Inner-Item {
        text-align: center;
        text-shadow: 1.5px 1px 6px #333;
    }

    .Vegas-Inner {
        position: absolute;
        width: auto;
        margin: 0 1px;
        top: 40%;
        left: 25%;
        transform: translate(3%, -36%);
    }

    #header nav {
        display: none;
    }

    .ScrollTop {
        display: none;
    }
}