@charset "utf-8";

body {
    font-family: 'Mulish', sans-serif;
    color: #333333;
    font-size: 14px;
}

#contacttopimg {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#contacttopimg img {
    width: 100%;
    margin: 0 auto;
}

#contacttopinner {
    position: absolute;
    top: 34%;
    left: 14%;
    font-size: 1.5vw;
    color: #fff;
    text-shadow: 1.5px 1px 6px #333;
}

.ScrollTop.isActive {
    z-index: 4;
    opacity: 1;
    transition: all 0.65s;
}

.ScrollTop {
    margin-left: 20px;
    opacity: 0;
}

article {
    width: auto;
    max-width: 1280px;
    margin: 0 auto;
}
