@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    color: #333333;
    font-size: 14px;
    display: none;
}



#menutopimg {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#menutopimg img {
    width: 100%;
    margin: 0 auto;
}

#menutopinner {
    position: absolute;
    top: 34%;
    left: 20%;
    font-size: 1.5vw;
    color: #fff;
    text-shadow: 1.5px 1px 6px #333;
}

.ScrollTop.isActive {
    z-index: 4;
    opacity: 1;
    transition: all 0.65s;
}

.ScrollTop {
    margin-left: 20px;
    opacity: 0;
}

article {
    width: auto;
    max-width: 1280px;
    margin: 0 auto;
}

#menucomment {
    text-align: center;
    font-family: '游ゴシック';
    font-size: 0.9rem;
    font-weight: bold;

}

#menucomment p {
    margin: 65px;
}

h2 {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid #333;
    margin: 40px 0;
    font-size: 2rem;
    letter-spacing: 1px;
}

#coffeemenu {
    width: auto;
    max-width: 1280px;
    margin: 70px auto;
    text-align: center;
}

#coffeemenu-fg {
    display: flex;
    justify-content: center;
    gap: 85px;
    margin: 0 auto;
    padding: 0 223px;
}

#coffeemenu-fg img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

figure {
    margin: 0;
    text-align: center;
    width: auto;
    max-width: 210px;
    min-width: 160px;
}

figcaption {
    font-family: '游ゴシック';
    font-size: 0.8rem;
    font-weight: bold;
}

#sandwichmenu {
    width: auto;
    max-width: 1280px;
    margin: 70px auto;
    text-align: center;
    margin-bottom: 250px;
}

#sandwichmenu-fg {
    display: flex;
    justify-content: center;
    gap: 85px;
    margin: 0 auto;
    padding: 0 223px;
}

#sandwichmenu-fg img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

#menusubtitle {
    display: block;
    margin: 5px 0;
    font-size: 0.9rem;
    border-bottom: 1px dotted #efba24;
}

@media screen and (max-width:780px) {

    #coffeemenu-fg {
        gap: 15px;
    }

    #sandwichmenu-fg {
        gap: 15px;
    }


}

@media screen and (max-width:520px) {

    h2 {
        font-size: 1.5rem;
    }

    #menutopinner {
        left: 42%;
        font-size: 0.7rem;
    }

    #coffeemenu-fg {
        padding: 0;
        flex-flow: wrap;
        gap: 33px;
    }

    #sandwichmenu-fg {
        padding: 0;
        flex-flow: wrap;
        gap: 33px;
    }

    figure {
        max-width: 190px;
        min-width: 190px;
    }

    figcaption {
        font-size: 0.7rem;
    }

    #menusubtitle {
        display: block;
        margin: 5px 0;
        font-size: 0.8rem;
        border-bottom: 1px dotted #efba24;
    }
}